<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PRRSAnalysis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <PRRSAnalysis.Properties.Settings>
      <setting name="VaccineLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="MafftSettings" serializeAs="String">
        <value>Fast</value>
      </setting>
      <setting name="MinimumOrfLength" serializeAs="String">
        <value>75</value>
      </setting>
      <setting name="RunReverseFrames" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OutputFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="RDP4" serializeAs="String">
        <value />
      </setting>
      <setting name="InitialRun" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FilesInitialized" serializeAs="String">
        <value>False</value>
      </setting>
    </PRRSAnalysis.Properties.Settings>
  </userSettings>
</configuration>